.navbar {
display: flex;
justify-content: center;
align-items: center;
color: black ;
background-color: #34495e ;
padding: 20px;
margin: 10px;
}


   .tabla {
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(#eb9a3f, #90dfe2);
      margin: 50px;
      padding: 10px 50px 20px;
      border-radius: 30px;
     
   }

   h1 {
      text-align: center;
      background-color: #34495e;
      margin: auto;
      padding: auto;
   }